/* styles.css */

body {
    font-family: Arial, sans-serif;
    background-color: #f5f6fa;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.metamask-container {
    width: 350px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.metamask-header {
    text-align: center;
    padding-bottom: 20px;
    border-bottom: 1px solid #e1e1e1;
}

.metamask-header h2 {
    margin: 0;
    font-size: 24px;
    color: #f6851b;
}

.account-section {
    padding: 20px 0;
    text-align: center;
}

.account-label {
    font-size: 16px;
    font-weight: bold;
}

.account-address {
    font-size: 14px;
    color: #888;
}

.balance {
    font-size: 18px;
    font-weight: bold;
    color: #333;
    margin-top: 10px;
}

.send-section {
    padding: 20px 0;
}

.send-section label {
    font-size: 14px;
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

.send-section input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #e1e1e1;
    border-radius: 5px;
    font-size: 16px;
}

.send-button {
    width: 100%;
    padding: 10px;
    background-color: #f6851b;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.send-button:hover {
    background-color: #f37400;
}

.transaction-section {
    padding-top: 20px;
    text-align: center;
    font-size: 14px;
    color: #555;
}


/* account section */
.account-section {
    text-align: center;
    margin-bottom: 20px;
}

.usd-value, .percentage-change {
    font-size: 0.9em;
    color: grey;
}

.percentage-change {
    color: green; /* Thay đổi màu tuỳ thuộc vào mức tăng hoặc giảm */
}

.trade-section {
    display: flex; /* Sắp xếp các nút theo chiều ngang */
    justify-content: space-between; /* Tạo khoảng cách giữa các nút */
    margin-top: 15px; /* Khoảng cách trên so với nút Send */
}

.buy-button, .sell-button {
    width: 49%; /* Chiều rộng bằng 48% để vừa với 100% chiều rộng của nút Send */
    padding: 10px;
    background-color: #f6851b; /* Màu nền giống như nút Send */
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
    
}



.buy-button:hover, .sell-button:hover {
    background-color: #f37400; /* Màu nền khi hover */
}



