/* styles.css */

body {
    font-family: Arial, sans-serif;
    background-color: #f5f6fa;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.metamask-container {
    width: 350px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.metamask-header {
    text-align: center;
    padding-bottom: 20px;
    border-bottom: 1px solid #e1e1e1;
}

.metamask-header h2 {
    margin: 0;
    font-size: 24px;
    color: #f6851b;
}

.account-section {
    padding: 20px 0;
    text-align: center;
}

.account-label {
    font-size: 16px;
    font-weight: bold;
}

.account-address {
    font-size: 14px;
    color: #888;
}

.balance {
    font-size: 18px;
    font-weight: bold;
    color: #333;
    margin-top: 10px;
}

.send-section {
    padding: 20px 0;
}

.send-section label {
    font-size: 14px;
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

.send-section input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #e1e1e1;
    border-radius: 5px;
    font-size: 16px;
}

.send-button {
    width: 100%;
    padding: 10px;
    background-color: #f6851b;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.send-button:hover {
    background-color: #f37400;
}

.transaction-section {
    padding-top: 20px;
    text-align: center;
    font-size: 14px;
    color: #555;
}


/* account section */
.account-section {
    text-align: center;
    margin-bottom: 20px;
}

.usd-value, .percentage-change {
    font-size: 0.9em;
    color: grey;
}

.percentage-change {
    color: green; 
}

.trade-section {
    display: flex; 
    justify-content: space-between; 
    margin-top: 15px; 
}

.buy-button, .sell-button {
    width: 45%; 
    padding: 10px;
    background-color: #f6851b; 
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
    
}



.buy-button:hover, .sell-button:hover {
    background-color: #f37400; 
}

body {
    font-family: Arial, sans-serif;
}

.container {
    text-align: center;
    margin-top: 50px;
}

button {
    margin: 5px;
    padding: 10px 20px;
    font-size: 16px;
}

.auth-links {
    margin-top: 0; /* Khoảng cách giữa nút và dòng chữ */
}

.auth-links a {
    font-size: 14px; /* Kích thước chữ nhỏ hơn */
    text-decoration: none; /* Bỏ gạch chân */
    color: #007bff; /* Màu chữ cho các liên kết */
}

.auth-links a:hover {
    text-decoration: underline; /* Thêm gạch chân khi hover */
}



